/* Navigation */

#brandLogo img {
    width: 50px;
}

.projectBook {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% 75%;
    grid-template-areas: "projects todoItems";
}

.projects {
    grid-area: projects;
}

.todoItems {
    grid-area: todoItems;
}

.list-group-item {
    margin: 0;
}

.selectedProject {
    background-color: yellow;
}
/* ================= Todo Item Cards =============== */

.projectItem {
    margin: 12px 0;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
    position: relative;
    padding: 10px;
}

.projectItem .action-icons {
    width: 30%;
}

.projectItem .action-icons span {
    font-size: 0.9rem;
}

.due-box {
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
}

.due-box p {
    margin: 0;
}

.card-body:hover {
    background-color: rgba(229, 222, 226, 0.2);
}

.action-icons {
    width: 10%;
}

.action-icons span {
    font-size: 1.5rem;
}

.action-icons span:hover,
.projectItem .action-icons span:hover {
    color: red;
}
